# Ignore Gradle project-specific cache directory
.gradle
*.class

# Ignore Gradle build output directory
build

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# IDEs
.idea
*.iml
build/
.classpath
.project
.settings/
bin/
.vscode/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# note: some other rules could/should be in your HOME .gitignore_global file
# *~
# .DS_Store
